html, body{margin: 0;padding:0}
body{font-family: verdana,arial,sans-serif;font-size: 12pt;text-align: center;margin:0px;padding:0px;}
img {border:0px;}

div#container
{
	width: 900px;
	margin: 0px auto;
	text-align: left;
	border-left: 1px solid black;
	border-right: 1px solid black;
/*	background:#ffe2bf;*/
/* 	padding-top:150px; */
}

div#rightbox
{
	float:right;
	width:155px;
	width:145px;
	width:155px;
	padding:0;
}

div#content
{
	margin-right:155px;
	border-right: 2px groove #ccc;
}

div#header
{
	border-bottom:1px solid black;
}

div#footer
{
	clear:right;
	border-top:1px solid black;
}

div.article_box
{
/* 	margin:15px; */
	padding:10px;
}

/*messages box*/
.messages
{
	padding:10px;
	margin:3px;
	border:1px solid orange;
}

/*div that contains the form to insert a new message*/
.form_insert
{
	margin-top:15px;
}